.greeting {
  color: #818479;
}
.dashboard-section {
  display: flex;
  flex-direction: column;
  align-items:  center;
  width: 80%;
}
.dashboard-table {
  flex-basis: 100%; 
  width: 100%;
  text-align: center;
}
.dashboard-table th {
  color: #818479;
  border-bottom: 0.5em solid #e4e9b2;
  padding: 0.3em;
}
.dashboard-table td {
  padding: 1em;
  background-color: #818479;
  color: #e7e08b;
}
.add-dashboard {
  background-image: url("/img/icons/zondicons/add-solid.svg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  background-color: #e4e9b2;
}
.delete-dashboard {
  background-image: url("/img/icons/zondicons/trash.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  height: 2.3em;
  width: 2.3em;
  background-color: #e4e9b2;
  border-radius: 50%;
  box-shadow: 0 0 0.2em 0.2em #938f59;
  padding: 0.3em;
}
