:root {
  color: #b5cbb7;
}
body {
  padding-top: 1.5em;
}
.signin-page {
  height: 50vh;
}
main {
/*   height: 50vh; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
h2 {
  text-align: center;
  font-size: 3rem;
}
button {
  cursor: pointer;
}
.signin-widgets {
  display: flex;
  flex-basis: 50%;
}
.signin-widgets a {
  height: 10em;
  width: 10em;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 1em;
}
.google-button {
  background-image: url('/img/icons/google_button_normal.svg');
}
.google-button:focus {
  background-image: url('/img/icons/google_button_focus.svg');
}
.google-button:active {
  background-image: url('/img/icons/google_button_pressed.svg');
}
.facebook-button {
  background-image: url('/img/icons/facebook.svg');
}
